* {
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-columns: 285px 1fr 2fr;
  grid-template-rows: 90px 50px 300px 1fr;
  background: linear-gradient(180deg, #fceee1 0%, #fbf3f9 48.96%, #e5d7f9 100%);
}

/*<!-----------------------------SIDEBAR---------------------------->*/

.sidebar {
  grid-row: 1/ -1;
  padding-top: 28px;
  padding-left: 70px;
  background-color: white;
}

.sidebar a {
  color: black;
}

.sidebar h3 {
  color: rgba(156, 156, 156, 1);
}

.dots {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

div[class^="dot-"] {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.dot-red {
  background: rgba(236, 107, 96, 1);
  border-radius: 50%;
  size: 12px;
}

.dot-yellow {
  background: rgba(245, 193, 80, 1);
  border-radius: 50%;
  size: 12px;
}

.dot-green {
  background: rgba(108, 191, 102, 1);
  border-radius: 50%;
  size: 12px;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  color: rgba(157, 157, 157, 1);
}

.navigation {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  row-gap: 16px;
  column-gap: 28px;
  grid-row: 1/ -1;
  padding-top: 37px;
}

.navigationas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.myMusic {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
}

/*<!------------------------------MEDIA------------------------------->*/

.header {
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  display: grid;
  grid-column: 2/ -1;
  grid-row: 1;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 35px;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar > :first-child {
  width: 22px;
}

.searchbar > input {
  width: 270px;
  height: 50px;
  border-radius: 15px;
}

.profile-bar {
  display: flex;
  align-items: center;
}

.profile-bar > :first-child {
  margin-right: 1rem;
  width: 45px;
}

.profile-bar > img {
  width: 35px;
  padding-inline: 1rem;
}

.profile-bar > :nth-of-type(2) {
  width: 25px;
}

.buttonsTop {
  justify-content: flex-end;
}

/*<!--------------              Top Artist            ---------------->*/

.top-artists-heading {
  grid-column: 2/ -1;
  grid-row: 2;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-artist-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-artist-left > h2 {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.arrow-buttons-right {
  display: flex;
  width: 35px;
  margin-right: 75px;
  gap: 15px;
}

.arrow-buttons-right > img {
  display: flex;
}

.top-artists {
  grid-column: 2/ -1;
  grid-row: 3;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}
.top-artists::-webkit-scrollbar {
  display: none;
}

/*<!--------------              Now Playing         ---------------->*/

.artist-container {
  display: flex;
}

.artist-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
}

.artist-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.artist-grey-box {
  background-color: white;
  width: 230px;
  height: 245px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.artist-name {
  margin-bottom: 8px;
  font-weight: 700;
}

.now-playing {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}

.now-playing h3 {
  font-size: 24px;
  font-weight: 800;
}

.player {
  height: 460px;
  width: 460px;
  background-color: white;
  border-radius: 15px;
}
/*<!--------------              Mostly Played         ---------------->*/

.mostly-played {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 44px;
}

.mostly-played-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
}

.mostly-played-header p {
  font-size: 14px;
  font-weight: 800;
  color: rgba(160, 153, 158, 1);
}

.mostly-played-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  background-color: white;
  border-radius: 9px;
  height: 75px;
  width: 100%;
  padding-right: 44px;
  margin-bottom: 21px;
}

.mostly-played-choice {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.mp-choice-preview {
  size: 54px 54px;
  background-color: white;
}
/*<!--------------              Media-Query         ---------------->*/
@media (max-width: 600px) {

body {
  max-width: 100%;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 90px 50px 300px 1fr 1fr;
}

.dots {
  display: none;

}

.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.sidebar img {
  width: 32px;
  height: 32px;
}

.navigationas p {
  display: none;
}

.myMusic > h3 {
  display: none;
}



.playlists {
  display: none;
}

.arrow, .profile-bar a {
  display: none;
}

}