* {
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  width: 100vw;
  grid-template-columns: 285px 1fr 2fr;
  grid-template-rows: 90px 50px 300px 1fr;
  background: linear-gradient(180deg, #FCEEE1 0%, #FBF3F9 48.96%, #E5D7F9 100%);

}

/*<!-----------------------------SIDEBAR---------------------------->*/

.sidebar {
    grid-row: 1/ -1;
    padding-top: 28px;
    padding-left: 34px;
    background-color: white;
  }
  
.sidebar a {
    color: black;
}

.sidebar h3 {
    color: rgba(156, 156, 156, 1);

}

  .dots {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

div[class^="dot-"] {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.dot-red {
  background: rgba(236, 107, 96, 1);
  border-radius: 50%;
  size: 12px;
}

.dot-yellow {
  background: rgba(245, 193, 80, 1);
  border-radius: 50%;
  size: 12px;
}

.dot-green {
  background: rgba(108, 191, 102, 1);
  border-radius: 50%;
  size: 12px;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
    color: rgba(157, 157, 157, 1);
}

.navigation {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    row-gap: 16px;
    column-gap: 28px;
    margin-left: 37px;
    grid-row: 1/ -1;
    padding-top: 37px;

}

.navigationdivs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.myMusic {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 37px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 37px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
}

/*<!------------------------------MEDIA------------------------------->*/

.header {
  border: 1px solid black;
  display: grid;
  grid-column: 2/ -1;
  grid-row: 1;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 35px;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar > :first-child {
  width: 22px;
}

.searchbar > input {
  width: 270px;
  height: 50px;
  border-radius: 15px;
}

.profile-bar {
  display: flex;
  align-items: center;
}

.profile-bar > :first-child {
  margin-right: 1rem;
  width: 45px;
}

.profile-bar > img {
  width: 35px;
  padding-inline: 1rem;
}

.profile-bar > :nth-of-type(2) {
  width: 25px;
}

.buttonsTop {
  justify-content: flex-end;
}

/*<!--------------              Top Artist            ---------------->*/

.top-artists-heading {
  grid-column: 2/ -1;
  grid-row: 2;
}

.top-artists {
  grid-column: 2/ -1;
  grid-row: 3;
}

/*<!--------------              Now Playing         ---------------->*/

.now-playing {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}

.now-playing h3 {
  font-size: 24px;
  font-weight: 800;
}

.player {
  height: 460px;
  width: 460px;
  background-color: lightgray;
  border-radius: 15px;
}
/*<!--------------              Mostly Played         ---------------->*/

.mostly-played {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 44px;
}

.mostly-played-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
}

.mostly-played-header p {
  font-size: 14px;
  font-weight: 800;
  color: rgba(160, 153, 158, 1);
}

.mostly-played-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  background-color: lightgrey;
  border-radius: 9px;
  height: 75px;
  width: 100%;
  padding-right: 44px;
  margin-bottom: 21px;
}

.mostly-played-choice {
  display: flex;
  flex-direction: row;
  gap: 32px

}

.mp-choice-preview {
  size: 54px 54px;
  background-color: white;
}
/*<!--------------              Media-header         ---------------->*/
